.texto-izquierda(layout="column")
	strong Contáctanos:
	p Correo: constructomh@gmail.com
	p Tel: 2292083899
.starbrand
	p Desarrollado por
	md-button(href="https://www.starbrand.mx")
		md-icon(md-svg-icon="img/starbrand.svg")
.logo
	md-button
		md-icon(md-svg-icon="img/logo.svg")