.header-content(layout="row" layout-align="space-between center")
	.logo
		md-button(ui-sref="home")
			md-icon(md-svg-icon="img/logo.svg")
	.botones
		md-button(ui-sref="proyectos" ui-sref-active="active")
			|Proyectos
		md-button(href="/cotizador2" ui-sref-active="active")
			|Cotizador
		md-button(ui-sref-active="active")
			|Nosotros
