@font-face
	font-family FatFrank
	// font-weight 800
	src url('../fonts/FatFrank.otf')

@font-face
	font-family Evolve
	font-weight 300
	src url('../fonts/Evolve300.otf')

@font-face
	font-family Evolve
	font-weight 400
	src url('../fonts/Evolve400.otf')

@font-face
	font-family Evolve
	font-weight 500
	src url('../fonts/Evolve500.otf')

@font-face
	font-family Evolve
	font-weight 600
	src url('../fonts/Evolve600.otf')

mobile = "(max-width: 600px)"
compu = "(min-width: 600px)"

amarillo = #f8c503
amarilloClaro = #F9D54E
amarilloSuperObscuro = #786001

azul = #1d232d
azulgrisaseo = #2b3745


gris = #E2E4E9
grisClaro = #f1f5fe

naranja = rgb(255,171,64)

transition(duracion, delay)
	-webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

animation(animation, duration = 1s, delay = 0s)
	-webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950) !important
	animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950) !important
	-webkit-transition all duration ease-in-out !important
	-moz-transition all duration ease-in-out !important
	-o-transition all duration ease-in-out !important
	transition all duration ease-in-out !important
	-webkit-transition-delay delay ease-in-out !important
	transition-delay delay ease-in-out !important

.hidden
	display none

.todo
	background linear-gradient(to bottom, white, grisClaro, gris)

main
	position relative
	
header
	margin 0px
	background-color rgba(250, 250, 250, .5)
	position fixed
	height 60px
	width 100%
	z-index 1000
	.md-button
		margin 0px
		md-icon
			height 60px
			width 230px
	.logo
		.md-button
			padding 0px
	.botones
		margin-right 20px
		.md-button
			height 60px
			border-radius 0px
			margin 0px
			padding 0 20px
			span
				line-height 60px
			&.active
				background-color amarillo
				
md-autocomplete
	height  60px !important
	md-autocomplete-wrap
		height 60px !important
		input
			height 60px !important
		
	


md-expansion-panel
	background inherit !important
	opacity 0.9
	md-expansion-panel-collapsed
		md-icon
			margin-right 0
		.md-title
			max-width inherit

	.md-expansion-panel-header-container
		background inherit !important
		line-height 19px

	md-expansion-panel-content
		background-color white

	.md-expansion-panel-footer-container
		background inherit !important

		.md-button
			border inset
			height 0px

		md-icon
			transform scale(1.8) !important
			color inherit !important

md-dialog
	width 28vw !important
	background-color rgba(255,255,255,0.9)

.prospecto-content
	h4 
		background-color azulgrisaseo
		color white
		font-family FatFrank
		font-size 22px
		text-align center
		padding 20px
	md-card-content
		form
			margin 20px
			.md-button
				background amarillo
			md-card-content
				md-input-container
					margin 0px !important


.cotizacion
	min-height 100vh
	padding 5vh 0


.templates
	.contenido
		md-grid-list
			md-grid-tile
				background-repeat no-repeat
				background-size cover
				background-position center


.categoria, .concepto
	&.ng-enter
		animation(fadeInLeft) 10s
	&.ng-leave
		animation(fadeOutLeft) 1s

.cotizador
	background linear-gradient(to right, amarillo, amarilloClaro)
	padding 30px
	height calc(100vh - 60px)
	md-card
		border-radius 15px
		overflow hidden
	.templates
		.md-subheader
			background-color grisClaro
			.md-subheader-inner
				padding 10px
				.md-subheader-content
					text-align center
					color azul
		.contenido
			&>.md-button
				margin 0px
				min-width 30px
				border-radius 0px
				background-color grisClaro
				md-icon
					color azul
					transform scale(1.5)
				// .prev
				// .next
			.templates-container
				figure
					display flex
					flex-direction column
					slider
						height calc(100% - 40px)
					.titulo
						height 40px
						display flex
						align-items center
						margin 0px
						width 100%
						padding 0px
						border none
						background-color none
						white-space inherit
						h4
							margin 0px
							width 100%
							line-height 11px
							font-size 11px
							text-align center
	.busqueda
		.md-button
			margin 0px
	.categorias
		overflow hidden
		md-virtual-repeat-container
			height calc(90vh - 330px)
			categoria, concepto
				md-expansion-panel
					md-progress-linear
						position absolute
						height 30px
						top 0
						z-index 1
						.md-container
							height 30px
							background-color azulgrisaseo
							.md-bar
								height 30px
								background-color azul
					md-expansion-panel-header
						width 100%
						.md-title
							strong
								background-color white
								border-radius 50px
								padding 0px 1px
								margin 0 5px
								color azul
						strong, h3, .md-expansion-panel-icon, .md-title
							z-index 2
					md-expansion-panel-collapsed
						padding 0px
						display flex
						min-height 30px
						flex-direction column
						md-expansion-panel-header
							height 30px
							min-height 30px
							background azulgrisaseo
							.md-expansion-panel-header-container
								min-height 30px
								.md-title
									margin 0px
									font-size 13px
									color white
									font-family FatFrank

						md-list
							padding 0px
							md-list-item
								background-color amarilloClaro
								height 20px
								p
									font-size 11px
					md-expansion-panel-expanded
						md-expansion-panel-header
							background-color azul
							.md-expansion-panel-header-container
								z-index 2
								strong
									padding 1px 5px
									margin 0 20px
									background-color white
									border-radius 50px
								h3
									margin 0px
									font-family FatFrank
									color white
						md-expansion-panel-content
							padding 0px
							md-list
								padding 0px
								md-list-item
									height 30px
									min-height 30px
									.md-mini
										width 25px
										height 25px
										margin 0 10px
										min-height 25px
										min-width 25px
										line-height 25px
										padding 0px
										md-icon
											height 25px
											width 25px
											min-height 25px
											min-width 25px
											font-size 25px
											color white
									p
										font-size 13px
										font-family Evolve
										font-weight 500
									.md-secondary-container
										label
											font-size 19px
											padding 7px 9vw
										md-input-container
											margin 0px
											padding 0 20px
											border 1px solid black
											border-radius 50px
											.md-errors-spacer
												min-height 0px
											input
												border none
												height 20px
										.md-button
											margin 0px 5px
											border-radius 50px
											height 20px
											min-height 20px
											line-height 20px
											padding 0 20px
											min-width 20px
											span
												font-size 11px
											md-icon
												font-size 20px
												height 20px
												width 20px
									&.bloqueo
										background-color amarilloClaro
						md-expansion-panel-footer
							.md-expansion-panel-footer-container
								padding 0px
								min-height 36px
								.md-button
									margin 0px
									border none
									width 100%
									height 100%
									background-color amarillo
	.control
		height 9vh
		.instrucciones
			padding 0 3vw
			justify-content center
			p
				margin 0px
				font-size 14px
				font-family Evolve
		.md-button
			background-color amarillo
			margin 0px
			border-radius 0px
			width 200px
			height 100%


slider
	height 100%
	width 100%
	display flex
	overflow hidden
	justify-content center
	align-items center
	.slider-container
		width 100%
		height 100%
		position relative
		.slider
			position initial
			overflow hidden
			&:before
				content 'cargando'
				position absolute
				font-family: 'Material Icons';
				content: "refresh";
				-webkit-font-feature-settings: 'liga';
				left 0
				right 0
				margin-left auto
				margin-right auto
			.slick-dots
				padding 0px
				bottom 0px
				li button:before
					content none
			.slick-arrow
				z-index 10
				background-color naranja
				box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
				border-radius 50px
				&:before
					color white
					height 19px
					width 19px
					line-height 19px
					opacity 1
				&.slick-prev
					left 15px
				&.slick-next
					right 15px
			.slick-slide
				height 100%
				width 100%
				img
					width 100%

.md-panel
	md-card
		display flex
		flex-direction row
		md-card-content
			max-width 500px
			
.cotizacion
	margin-top 60px
	.contenido
		.imagen
			height 200px
			width 200px
		.informacion
			width 690px
			.titulo-container
				display flex
				justify-content center
				align-items center
				.titulo
					height 40px
					font-size 30px
					background-color azulgrisaseo
					color white
					padding 10px 20px
					font-family FatFrank
					text-align center

				
			p 
				padding 10px
				text-align center
				font-size 15px
				font-family Evolve
				font-weight 500
		.cantidad
			width 150px
			label 
				text-align center
				font-family Evolve
				font-size 17px
			md-input-container
				display flex
				lex-direction row-reverse
				margin 0px
				padding 0 20px
				border 1px solid black
				border-radius 50px
				.md-errors-spacer
					min-height 0px
				label
					text-align center
					font-family Evolve
					font-size 17px
					position relative
				input
					border none
					height 20px
		.boton
			padding-top 18px
			.md-button
				margin 0px 5px
				border-radius 50px
				height 22px
				min-height 20px
				line-height 20px
				padding 0 20px
				min-width 20px
	.div
		display flex
		flex-direction row-reverse		
		.cuenta
			align-items flex-end
			h3
				height 0px
				font-size 31px
				font-family FatFrank
			.total
				p
					font-size 20px
					font-family Evolve
		.notas
			display flex
			flex-direction column
			justify-content center
			align-items end
			p
				margin 0
				font-size 14px
				font-family Evolve
